
  <!-- Add BootStrap Icons 6.6.0 via CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<!-- Footer with social media links -->
<footer style="text-align: center; padding: 20px; background-color: #f8f9fa; border-top: 1px solid #ddd; margin-top: 50px;">
  <p style="text-align: center; font-size: 14px; color: #555;">Work by <a href="https://profiles.stanford.edu/nicole-gladish">Nicole Gladish, PhD</a></p>
    <p style="text-align: center; font-size: 12px;"><span style="color: #5C6BC0;"><em><a href="mailto:ngladish@stanford.edu" style="text-decoration: none; color: #5C6BC0;">ngladish@stanford.edu</a></em></span></p>
  <div>
    <a href="https://ca.linkedin.com/in/nicole-gladish-ab8b4085" target="_blank" style="text-decoration: none; margin: 0 10px;">
      <i class="bi bi-linkedin" style="font-size: 20px; color: #333;"></i>
    </a>
    <a href="https://twitter.com/gladishnicole?lang=en" target="_blank" style="text-decoration: none; margin: 0 10px;">
      <i class="bi bi-twitter-x" style="font-size: 20px; color: #333;"></i>
    </a>
    <a href="https://code.stanford.edu/ngladish" target="_blank" style="text-decoration: none; margin: 0 10px;">
      <i class="bi bi-gitlab" style="font-size: 20px; color: #333;"></i>
    </a>
    <a href="https://scholar.google.ca/citations?user=t2rngvYAAAAJ&hl=en&oi=ao" target="_blank" style="text-decoration: none; margin: 0 10px;">
      <i class="bi bi-google" style="font-size: 20px; color: #333;"></i>
    </a>
  </div>
  <p style="margin-top: 10px; font-size: 14px; color: #555;">&copy; 2024. All rights reserved.</p>
</footer>